@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@import 'tailwindcss';

@plugin "@tailwindcss/typography";
@plugin 'daisyui';


@plugin "daisyui/theme" {
  name: "lambda";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(37% 0.044 257.287);
  --color-base-200: oklch(27% 0.041 260.031);
  --color-base-300: oklch(12% 0.042 264.695);
  --color-base-content: oklch(100% 0 0);
  --color-primary: oklch(38% 0.189 293.745);
  --color-primary-content: oklch(89% 0.057 293.283);
  --color-secondary: oklch(50% 0.134 242.749);
  --color-secondary-content: oklch(90% 0.058 230.902);
  --color-accent: oklch(0% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(0% 0 0);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(0% 0 0);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(0% 0 0);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(0% 0 0);
  --color-warning-content: oklch(100% 0 0);
  --color-error: oklch(0% 0 0);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}

@theme {
    --font-appbartop: "Bebas Neue", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-sans: "Bricolage Grotesque", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#app {
    @apply contents !h-full overflow-hidden
}

body, html {
    @apply !h-full overflow-hidden
}

body {
    @apply border border-base-content
}

* { @apply cursor-default }
input { @apply !cursor-auto }
button { @apply !cursor-pointer [&>*]:!cursor-pointer }
input[type=checkbox], input[type=radio] { @apply !cursor-pointer }
a { @apply cursor-pointer [&>*]:!cursor-pointer }